<a href="https://colab.research.google.com/github/Pranali-Patil-1212/Python_Project_Module/blob/main/Small_Project_Modules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Empolyee Management System

In [ ]:
import sqlite3

In [ ]:
conn  = sqlite3.connect('company.db')
cursor = conn.cursor()

In [ ]:
conn.execute("""
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    role TEXT NOT NULL,
    salary REAL
)
""")
conn.commit()

In [ ]:
def add_employee(name, role, salary):
    conn.execute("INSERT INTO employees (name, role, salary) VALUES (?, ?, ?)", (name, role, salary))

    conn.commit()
    print("Employee added successfully!\n")

In [ ]:
def view_employees():
    slct = conn.execute("SELECT * FROM employees")
    #rows = conn.fetchall()
    print("\n Empolyee Records:")
    for row in slct:
        print(f"ID: {row[0]}, Name: {row[1]}, Role: {row[2]}, Salary: {row[3]}")
    print()

In [ ]:
def update_employee(id, name, role, salary):
    conn.execute("UPDATE employees SET name=?, role=?, salary=? WHERE id=?", (name, role, salary, id))
    conn.commit()
    print("Employee updated successfully!\n")

In [ ]:
def delete_employee(id):
    conn.execute("DELETE FROM employees WHERE id=?", (id,))
    conn.commit()
    print("Employee deleted successfully!\n")

In [ ]:
def menu():
  while True:
    print("Employee Management System")
    print("1. Add Employee")
    print("2. View Employees")
    print("3. Update Employee")
    print("4. Delete Employee")
    print("5. Exit")

    choice = input("Enter your choice: ")

    if choice=="1":
      name = input("Enter Employee Name: ")
      role = input("Enter Employee Role: ")
      salary = float(input("Enter Employee Salary: "))
      add_employee(name, role, salary)

    elif choice=="2":
      view_employees()

    elif choice=="3":
      id = int(input("Enter Employee ID to update: "))
      name = input("Enter New Employee Name: ")
      role = input("Enter New Employee Role: ")
      salary = float(input("Enter New Employee Salary: "))
      update_employee(id, name, role, salary)

    elif choice=="4":
      id = int(input("Enter Employee ID to delete: "))
      delete_employee(id)

    elif choice=="5":
      print("Exiting the program.")
      break

    else:
      print("Invalid choice. Please try again.")

In [ ]:
menu()

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Exit
Enter your choice: 2

 Empolyee Records:
ID: 1, Name: pranali, Role: developer, Salary: 1000.0

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Exit
Enter your choice: 3
Enter Employee ID to update: 1
Enter New Employee Name: Pranali Patil
Enter New Employee Role: software developer
Enter New Employee Salary: 25000
Employee updated successfully!

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Exit
Enter your choice: 2

 Empolyee Records:
ID: 1, Name: Pranali Patil, Role: software developer, Salary: 25000.0

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Exit
Enter your choice: 4
Enter Employee ID to delete: 1
Employee deleted successfully!

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Exit
Enter your choice: 2

 Empolyee Records:

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Exit
Enter your choice: 5
Exiting the program.

In [ ]:
conn.close()

# Inventory Management(Add/ Remove Items)
A Shop keeps a list of items in stock

In [ ]:
inventory = ["apple", "banana"]
print("Inventory Management System")
while True:
  print("1. Add new item")
  print("2. Remove sold item")
  print("3. Show")
  print("4. Exit")
  choice = input("Enter your choice:")
  if choice == "1":  #Add new items
    new_item = input("Enter new item to add in list")
    inventory.append(new_item)
    print("Item added successfully")
  elif choice == "2":  #Remove sold item
    sold_item = input("enter the name of sold item to remove")
    inventory.remove(sold_item)
    print("Item removed successfully")
  elif choice =="3":
    print(inventory)
  elif choice=="4":
    print("Exiting the program")
    break

  else:
    print("Invalid choice")

Inventory Management System
1. Add new item
2. Remove sold item
3. Show
4. Exit
Enter your choice:3
['apple', 'banana']
1. Add new item
2. Remove sold item
3. Show
4. Exit
Enter your choice:1
Enter new item to add in listGrapes
Item added successfully
1. Add new item
2. Remove sold item
3. Show
4. Exit
Enter your choice:3
['apple', 'banana', 'Grapes']
1. Add new item
2. Remove sold item
3. Show
4. Exit
Enter your choice:2
enter the name of sold item to removebanana
Item removed successfully
1. Add new item
2. Remove sold item
3. Show
4. Exit
Enter your choice:3
['apple', 'Grapes']
1. Add new item
2. Remove sold item
3. Show
4. Exit
Enter your choice:4
Exiting the program

# Student Marks Processing(Sorting/Average)

In [ ]:
marks=[78,52,65,74,31,98,12]
#Sort markss
marks.sort()
print("Sorted Marks:", marks)

#Find Highest, lowest and average of marks
print("Highest marks:", max(marks))
print("Lowest marks:", min(marks))
print("Average marks:", round(sum(marks)/len(marks)))

Sorted Marks: [12, 31, 52, 65, 74, 78, 98]
Highest marks: 98
Lowest marks: 12
Average marks: 59

Real-Time Sensor Data(NumPy for Speed)

In [ ]:
import numpy as np

#Temperature reading in Celsius
temps = np.array([23.5, 22.1, 27.5, 28.9, 30.0, 20.8])

#Convert to Fahrenheit
fahrenheit = (temps*9/5)+32
print("Temperature in Fahrenheit=", fahrenheit)

#Find sudden spike
if np.any(np.diff(temps)>2):
  print("Sudden temperature rise detected")

Temperature in Fahrenheit= [74.3  71.78 81.5  84.02 86.   69.44]
Sudden temperature rise detected

Employee Salary Hike(Bulk Update)

In [ ]:
import numpy as np

salaries = np.array([30000, 400000, 50000, 60000])

#Give 10% hike
new_salaries = salaries*1.10
print("Updated Salaries:", new_salaries)

Updated Salaries: [ 33000. 440000.  55000.  66000.]

Real-Time Queue (First Come, First Serve)

In [ ]:
from collections import deque

queue = deque(["Cust1, Cust2, Cust3"])

#New Customer joins
queue.append("Cust4")

# Serve first customer
served = queue.popleft()

print("Served:", served)
print("Waiting Queue:", list(queue))

Served: Cust1, Cust2, Cust3
Waiting Queue: ['Cust4']

Data Deduplication(Unique Values)

In [ ]:
data=[10, 10 ,20,30,40,50,60, 60, 60,70]
print("Length of Original data is =", len(data))
unique_data = list(set(data))
print("Unique Values:", unique_data)
print("length of unique values data is=", len(unique_data))

Length of Original data is = 10
Unique Values: [70, 40, 10, 50, 20, 60, 30]
length of unique values data is= 7

Matrix Operations(Image Processing / AI)

In [ ]:
import numpy as np

matrix1 = np.array([[1,2], [3,4]])
matrix2 = np.array([[5,6], [7,8]])

# Matrix Addition
print("Addition=\n", matrix1+matrix2)

# Matrix Multiplication
print("Multiplication=\n", np.dot(matrix1, matrix2))

Addition=
 [[ 6  8]
 [10 12]]
Multiplication=
 [[19 22]
 [43 50]]

# User Input Validation (Email / Phone)
Validate user email during registration

In [ ]:
email = "user@example.com"

if "@" in email and email.endswith(".com"):
  print("Valid email")
else:
  print("Invalid Email")

Valid email

# Log File Parsing
Extract error messages from log lines

In [ ]:
log = "2025-09-23 10:45:23 ERROR: Server not responding"

if "ERROR" in log:
  error_msg = log.split("ERROR:")[1].strip()
  print("Error Found:", error_msg)

Error Found: Server not responding

# Customer Name Formatting

Normalize user data(Capitalize names)

In [ ]:
name="praNaLI patil"
formatted_name = name.title()
print("Formatted Names=", formatted_name)

Formatted Names= Pranali Patil

# Search and Replace in Documents
Replace sensitive words in a report

In [ ]:
text="This project is confidential. Do not share confidential data"
cleaned=text.replace("confidential", "[REDACTED]")
print(cleaned)

This project is [REDACTED]. Do not share [REDACTED] data

Extracting Hashtags from Social Media Posts

In [ ]:
post="Learning #Python is fun! #AI #Coding"
hashtags = [word for word in post.split() if word.startswith("#")]
print("Extracted Hashtags:", hashtags)

Extracted Hashtags: ['#Python', '#AI', '#Coding']

# Real-Time Chatbot Keyword Detection

In [ ]:
msg = "Hi, I need help with my order"
if "order" in msg.lower():
  print("Bot: I can help you with tracking your order")

Bot: I can help you with tracking your order

# File Name Handling

In [ ]:
filename="report_final.pdf"
filename2 = "Book.exls"
extension=filename.split(".")[-1]
extension2=filename2.split(".")[-1]
print("File Type=", extension)
print("file type=", extension2)

File Type= pdf
file type= exls

# Masking Sensitive Data
Hide credit card number expect last 4 digit

In [ ]:
card = "7846213224651233"
masked="*" * 12 + card[-4 :]
print("Masked Card Number=", masked)

Masked Card Number= ************1233

**Cleaning Text Data (AI/ ML Preprocessing)**

In [ ]:
import re
text = "Hello !!! This is @ChatGPT2025 #AI"
cleaned = re.sub(r'[^A-Za-z0-9 ]+', '', text).lower()
print("Cleaned Text:", cleaned)

Cleaned Text: hello  this is chatgpt2025 ai

# Generating Usernames from Emails

In [ ]:
email="riyapatil123@gmail.com"
username= email.split("@")[0]
print("UserName:", username)

UserName: riyapatil123

**Step1: Connect to Database**

In [ ]:
import sqlite3
# Connect to Database(creat file if not exists)
conn = sqlite3.connect("student.db")
cursor = conn.cursor()

**Step2: Create Table**

Company wants to store students records

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS Student(
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  Name TEXT NOT NULL,
  Address TEXT NOT NULL
)
""")
conn.commit()

**Step3: Insert Data (CREATE)**
Add new student records

In [ ]:
cursor.execute("INSERT INTO Student(Name, Address) VALUES(?,?)", ("Pranali Patil", "Pune"))
cursor.execute("INSERT INTO Student(Name, Address) VALUEs(?,?)", ("Sourabh", "Kolhapur"))
conn.commit()
print("Student added successfully")

Student added successfully

**Step 4: Fetch Data (READ)**

In [ ]:
cursor.execute("SELECT * From Student")
rows = cursor.fetchall()

print("Student Records")
for row in rows:
  print(row)

Student Records
(1, 'Pranali Patil', 'Pune')
(2, 'Sourabh', 'Kolhapur')

**Step 5: Updat Data (UPDATE)**

In [ ]:
cursor.execute("UPDATE Student set Name= ? where Address=?", ("Savaru Patil", "Kolhapur"))
conn.commit()
print("Record updated successfully")

Record updated successfully

**Step 6: Delete Data (DELETE)**

In [ ]:
cursor.execute("DELETE from Student where Address=?", ("Pune",))
conn.commit()
print("Record deleted sucessfully")

Record deleted sucessfully

# Database Handling
we need to fetch the student from Kolhapur

In [ ]:
import sqlite3

conn = sqlite3.connect("student.db")
cursor = conn.cursor()

cursor.execute("SELECT Name from Student where Address=?", ('Kolhapur',))
for row in cursor.fetchall():
  print(row)

conn.close()

('Savaru Patil',)

# Real-Time Alerts
If CPU usage goes above 80% send an alert

In [ ]:
import psutil
cpu_usage = psutil.cpu_percent(interval=1)

if cpu_usage > 80:
  print("High CPU Usage Alert:", cpu_usage, "%")
else:
  print("CPU Usage Normal:", cpu_usage, "%")

CPU Usage Normal: 43.7 %

# Web Scraping
Marketing team asks for top headlines from a news site

In [ ]:
import requests
from bs4 import BeautifulSoup

url = "https://therealnews.com/"
r = requests.get(url)
soup = BeautifulSoup(r.text, "html.parser")

for headline in soup.find_all("h3")[:5]:
    print(headline.text)

‘Illegal… unconstitutional… dangerous… wrong’: Texas National Guard troops invade Illinois
How can anyone still deny Israel is committing genocide in Gaza?
ICED out of America
Lawmakers demand information about potential use of Paragon spyware by ICE
Defying Israel, more ships sail to Gaza after Global Sumud Flotilla captured

# Chatbot(Basic)
Customer support bot that replies to greetings

In [ ]:
def chatbot(user_input):
  responses={
      "hi":"Hello!..How can I help you?",
      "bye":"Goodbye! Have a nice day !",
      "thanks": "You're welcome!"
  }
  return responses.get(user_input.lower(), "Sorry, I didn't  understand that")

print(chatbot("Hi"))
print(chatbot("thanks"))

Hello!..How can I help you?
You're welcome!

# Real-Time Chat Application (WebSocket + FastAPI)

In [ ]:
from fastapi import FastAPI, WebSocket
import uvicorn

app = FastAPI()

@app.websocket("/ws")
async def chat(websocket: WebSocket):
  await websocket.accept()
  while True:
    data = await websocket.receive_text()
    await websocket.send_text(f"Message received:{data}")

if __name__ == "__main__":
  uvicorn.run("chat:app", host="0.0.0.0", port=8000, reload=True)

INFO:     Will watch for changes in these directories: ['/content']
INFO:     Uvicorn running on http://0.0.0.0:8000 (Press CTRL+C to quit)
INFO:     Started reloader process [1131] using StatReload
INFO:     Stopping reloader process [1131]

# Real-Time Stock Price Tracker (WebSocket + API)

In [ ]:
import websocket,json

def on_message(ws, message):
  data = json.loads(message)
  print("Stock Update:", data)

socket = "wss://ws.finnhub.io?token=YOUR_API_KEY"
ws = websocket.WebSocketApp(socket, on_message=on_message)
ws.run_forever()

ERROR:websocket:Handshake status 401 Unauthorized -+-+- {'server': 'nginx/1.18.0', 'date': 'Mon, 13 Oct 2025 05:37:08 GMT', 'content-type': 'application/json', 'content-length': '28', 'connection': 'keep-alive'} -+-+- b'{"error":"Invalid API key."}' - goodbye

True

# Real-Time Log Monitoring

In [ ]:
import time
log_file = "/var/log/syslog"
with open(log_file, "r") as f:
  f.seek(0, 2)  # Move to end of file
  while True:
    line = f.readline()
    if line:
     print("Log Update:", line.strip())
  time.sleep(0.5)

#Data Cleaning (Pandas)

HR system exports employee data with missing values. You need to clean it

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/All CSV_Files/employees.csv")

# Fill missing salary with average
df['Salary'].fillna(df['Salary'].mean(), inplace=True)

#Drop duplicate entries
df.drop_duplicates(inplace=True)

print(df.head())

  First Name  Gender Start Date Last Login Time  Salary  Bonus %  \
0    Douglas    Male   8/6/1993        12:42 PM   97308    6.945
1     Thomas    Male  3/31/1996         6:53 AM   61933    4.170
2      Maria  Female  4/23/1993        11:17 AM  130590   11.858
3      Jerry    Male   3/4/2005         1:00 PM  138705    9.340
4      Larry    Male  1/24/1998         4:47 PM  101004    1.389

  Senior Management             Team
0              True        Marketing
1              True              NaN
2             False          Finance
3              True          Finance
4              True  Client Services

/tmp/ipython-input-299716943.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(), inplace=True)